<p><strong>Tarea:</strong> <%= @todo.name %></p>

<p><strong>Imágen:</strong></p>
<p><%= image_tag @todo.image %></p>
<%= link_to 'Volver a las tareas', todos_path, class:'btn btn-primary' %>

<h1>Personas que han completado esta tarea:</h1>
